.row.slide-content
  .col-xs-4
  .col-xs-8(style='top: -200px; left: 100px;')
    blockquote(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
      | „The biggest mistake we've made as a company is betting on HTML5 over native.”
    p Mark Zuckerberg - 2012
