.footer-logos
  a(href='http://yoobic.com', style='position: relative; top: 35px; left: 28px;')
    img.ts.no-border(src='img/amelia.png')
  a(href='http://ionicframework.com/', style='position: relative; left: -100px;')
    img#ionic-logo.ionic.no-border(src='img/logo-ionic-white.png')
  a(href='http://angularjs.org', style='position: relative; left: -100px;')
    img.angularjs.no-border(src='img/angularjs.svg')