h2 Amplify API using Ionic
p Implementing the Amplify API on a hybrid mobile app with Ionic - The beautiful open source framework for developing with HTML5
.row
  .col-xs-6
    a(href='http://disrupt.famo.us/periodic402/')
      img.no-border(src='img/logo-ionic-white.png', style='width: 250px; margin-top: 45px;')
  .col-xs-6
    a(href='http://yoobic.com')
      img.ts.no-border(src='img/amelia.png', style='width: 250px; margin-top: 45px;')
p(style='margin-top: 100px;')
  small
    | Presented by
    br
    a(href='http://sagivf.github.io') Sagiv Frankel
    | -
    a(href='mailto:sfrankel@outbrain.com') sfrankel@outbrain.com
aside.notes
  | Notes: