h1 Always but on JS
img.no-border(src='img/wesley-snipes.jpg', alt='', style='float: right', width=450, height=400)
ul(style='font-size: 25px; margin-top: 40px')
  li(style='margin-bottom: 5px')
    | First then said JS couldn't be usefull
    br
    | for building "rich Internet apps"
  li(style='margin-bottom: 5px')
    |  Then they said it couldn't be fast
  li(style='margin-bottom: 5px')
    |  Then they said it couldn't be fixed
  li(style='margin-bottom: 5px')
    |  Then it couldn't do multicore/GPU
  li(style='margin-bottom: 5px')
    |  Wrong every time!
  li(style='margin-bottom: 5px')
    |  My advice: always bet on JS
