h2 More platforms, more problems
.row.slide-content
  .col-xs-4
    img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4646687/8fb4cece-5475-11e4-9bbd-0ccedf573dee.png', alt='')
  .col-xs-4
    img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4646690/9194efd0-5475-11e4-8b5d-2af193854818.png', alt='')
  .col-xs-4
    img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4646693/93688178-5475-11e4-97a0-c4adfed7b30a.png', alt='')
  p Do we really need to code for multiple platforms ?
  p Are Hybrid apps the solution?
  p Will the mobile world go through what the desktop world went through?

