h2(style='color: #FF9900;') Amplify API
img.no-border(src='img/amelia.png', alt='')
ul
  li
    strong.strong Amplify API
    |  is developed by the buyers team
  li
    strong.strong Amplify API
    |  allows for 3rd part integration in creating campaigns and managing them
  li
    strong.strong Amplify API
    |  is writen mostly in scala using spring
  li
    strong.strong Amplify API
    |  is a resfull API and has an extensive documentation on Apiary
