h2 Best friend with angularjs
p UI components are angularjs directives
  img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4853216/eb5e7efe-6083-11e4-9f4a-5ef79471fb89.png', alt='', xwidth='250', xheight='250')
  aside.notes
    | Notes:
