h2 Native focused
img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4852011/55b97f22-6077-11e4-9e6a-9ab057739f60.png', alt='', width='250', xheight='250')
br
ul
  li Built to work with Cordova / Phonegap
  li Include its own cli
