h2 Performance obsessed
img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851954/e4c01d26-6076-11e4-8e19-3cf408ecee91.png', alt='', width='250', xheight='250')
br
ul
  li Hardware accelerated animations
  li Minimal DOM manipulation
  li Zero jQuery
