h2 Development flow
p Developing a hybrid app native can be tricky
br
ul
  li Serve/emulate locally in the browser - good for working with the api and generall buisness flow
  li emulate on the phone via wifi - nice feel but not good for testing
     | due to browser behaviour(swipe) and history
  li Cordove emulator - easy on a mac
  li Run on your hocked up phone
  li Deploy on your phone
