h2 What is ionic ?
p Web technologies you already know and love, but we need help...
  .row
    .col-xs-4
      img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851663/a2753660-6074-11e4-854a-e40cf2c0a612.png', alt='', width='250', height='250')
    .col-xs-4
      img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851754/4140e06e-6075-11e4-9836-304c18b5c29c.gif', alt='', width='250', height='250')
    .col-xs-4
      img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851678/bd5cea7c-6074-11e4-9af1-126bd9490d7c.png', alt='', width='250', height='250')
