h2 What is ionic ?
p Web technologies you already know and love?
  .row
    .col-xs-4
      img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851560/8270c9a2-6073-11e4-83f2-f0655ccc7c43.png', alt='', width='200')
    .col-xs-4
      img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851562/86983484-6073-11e4-801c-f9ba39fef7dc.png', alt='', width='200')
    .col-xs-4
      img.no-border(src='https://cloud.githubusercontent.com/assets/4806944/4851563/892964ca-6073-11e4-8e35-50fc418112bc.png', alt='', width='200')
